/* ========= Заголовки Чем занимаемся, Наша команда, Клиенты ================== */
.works-title, .team-title, .clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: center;
}

/* =============================== Блок  Hero   ================================  */
.hero {
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding: 200px 452px;
    /* height: 600px; */
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    color: #ffffff;
    width: 696px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-btn {
  
    background-color: var(--color-acent);
    text-decoration: none;
    color: var(--main-bg-color);
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    letter-spacing: 0.06em;

    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* =================== Секция Преимущесва ==============================  */
/* =====  Margin всей секции  ================= */
.advantage {
    margin-bottom: 94px;
}
.advantage h2 {
  text-align: center;}

/* ===== Margin изображений===================== */
.advantage img {
    margin-bottom: 30px;
}

/* =====  Margin заголовков    ===================== */
.advant-title {
    margin-bottom: 10px;
}


/* ==== Заголовки в Преимуществах и Чем занимаемся=== */
.advant-title, .works-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

/* ======== Абзац в Преимуществах========== */
.advantage p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    width: 270px;
    height: 75px;
}

/* =================== Секция Чем мы занимаемся==========================  */
.works img {
    display: block;
}
/* ==== Заголовок секции ================= */
.works-title {
    text-align: center;
    margin-bottom: 50px;
}

/* ==== Виды услуг ======================= */
.works-subtitle {
    color: var(--main-bg-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    text-align: center;

    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 94px;
}

/* ========================= Секция Наша команда ========================  */
.team { background-color: var(--secondary-bg-color);
padding-bottom: 94px;
};


/* ======== Заголовок Наша команда ======== */
.team-title {
    margin-bottom: 50px;
}

/* ========== Фото команды   ============== */
.team img {
    display: block;
    margin-bottom: 30px;
}

/* ========== Имена сотрудников =========== */
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    text-align: center;
    width: 270px;

    margin-bottom: 10px;
}

/* ========== Должности =================== */
.team-position {
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: center;
width: 270px;

margin-bottom: 16px;
}
/* ========= Соцсети ====================== */
.team a {
    text-decoration: none;
}

/* ==== Карточка команды- Li */
.team-card {
    width: 270px;
}

/* ======== Соц. сети команды ========== */
.team-social {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 24px;
}
/* === Правый отступ для 3х первых карточек сотрудников ===  ??????????  Li - не показывает отступ*/
.team-members .team-card:nth-child(-n+3) {
    margin-right: 30px;
}

/* ========================= Секция Постоянные клиенты ====================  */
.clients a {
    text-decoration: none;
}
/* === Заголовок Клиенты ============ */
.clients-title {
    margin-top: 94px;
    margin-bottom: 50px;
}

/* ====== Список компаний =========== */
.clients-list {
    padding-bottom: 94px;
}