/* ====================== Кнопки-филтры ============================= */
.filter-list button{
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--secondary-text-color);
    background: var(--secondary-bg-color);
    border: none;
    border-radius: 4px;
    height: 38px;
    cursor: pointer;
}

.filter-list button:hover,
.filter-list button:focus {
    background: var(--color-acent);
}

/* =================== Примеры работ ================================= */
.jobs a {
    text-decoration: none;
}
/* ======== Название проекта=========== */
.jobs-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}
/* ========== Тип проекта============== */
.jobs-type {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.9;
    color: var(--main-text-color);
}

.jobs-descr {
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    color: var(--color-acent);
    width: 322px;
    height: 168px;
}
